@media screen and (max-device-width: 480px) {
    body {
        -webkit-text-size-adjust: none;
    }
}

p {
    text-align: justify;
    text-justify: inter-word;
    font-size: 16px;
}

h1 {
    font-size: 34px;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 20px;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 18px;
    margin: 8;
    padding: 0;
}

body {
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
    background-color: #f6f6f6;
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)),
        url("/img/background.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.bg_blue {
    padding: 4px;
    padding-left: 8px;
    border-radius: 4px;
    background-color: #efefef;
}

.bg_red {
    padding: 4px;
    padding-left: 8px;
    border-radius: 2px;
    background-color: #ffe3cf;
}

.chinese {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

.title {
    width: 650px;
    margin: 20px auto;
}

hr {
    border-color: #b6b6b6;
    color: #b6b6b6;
}

.container {
    width: 750px;
    margin: 20px auto;
    border: 1px solid #cfcfcf;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.94);
    padding: 20px;
    clear: both;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.06);
}

.container_no_border {
    width: 750px;
    margin: 20px auto;
    border: none;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.94);
    padding: 20px;
    clear: both;
}

.container_bg {
    width: 750px;
    margin: 20px auto;
    border: none;
    border-radius: 12px;
    background-color: #ff9f43;
    padding: 20px;
    clear: both;
    box-shadow: 0 6px 18px rgba(255, 159, 67, 0.25);
}

.container_title {
    width: 750px;
    margin: 20px auto;
    border-radius: 10px;
    padding: 20px;
    clear: both;
}

.iframe_video {
    float: left;
    margin-right: 30px
}

#bio {
    padding-top: 20px;
}

#me {
    border: 0 solid black;
    margin-bottom: 50px;
    border-radius: 10px;
}

#me {
    margin-left: 25px;
    margin-right: 100px;
    border: 0 solid black;
    float: left;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a,
a:visited {
    color: #c4631a;
}

.publication {
    display: flex;
    justify-content: start;
    align-items: center;

    border-radius: 5px;
}

.publication .pub_img {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30%;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.publication .pub_desc {
    padding-top: 5px;
    padding-bottom: 5px;

    min-width: 510px;
}

.publication .pub_desc .pub_title {
    text-align: start;
    font-weight: bold;
    font-size: 18px;
}

.publication .pub_desc .pub_title a {
    color: #c4631a;
}

.publication .pub_desc .pub_author {
    text-align: start;
    font-style: italic;
}

.publication .pub_desc .pub_author a {
    color: #c4631a;
}

.publication .pub_desc .pub_links {
    position: relative;
}

.publication .pub_desc .pub_links a {
    margin-right: 0px;
    color: #c4631a;
}

.codelogo {
    margin-right: 10px;
    float: left;
    border: 0;
}

.code {
    clear: left;
    padding-bottom: 10px;
    vertical-align: middle;
}

.code .download a {
    display: block;
    margin: 0 15px;
    float: left;
}

.code strong a {
    color: #000;
}

.external a {
    margin: 0 10px;
}

.external a.first {
    margin: 0 10px 0 0;
}

.research_card_line {
    display: flex;
    justify-content: space-evenly;
}

.research {
    display: inline-block;
    vertical-align: top;

    border: 1px solid #f1ebeb;
    border-radius: 5px;
    margin: 10px auto;
    width: 320px;
    height: 350px;
    padding: 5px;

    text-align: center;
}

.research p {
    text-align: center;
}

.image_line {
    display: flex;
    justify-content: space-evenly;
}

.image_line .img {
    display: inline-block;
    vertical-align: top;
}